* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0em;
  font-weight: 800;
  font-size: 1.1em;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

a {
  font-weight: 200;
  font-weight: bold;
  color:#bb8218;
  text-decoration: inherit;

}
a:hover {
  color:  #ff667a;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 3em;
  text-align: center;
  background-color:black;
}
h2 {
  font-size: 2.5em;
  line-height: 1.1;
}
.button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  margin-top: 15px;
  background-color: #333333;
  color: #bb8218;
  cursor:pointer;
  transition: border-color 0.25s;
  font-weight: bold;
  font-size: 20px
}
.button:hover{
  background-color: #bb8218;
  color: #333333;
}
#input{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 200;
  margin-top: 1px;
  background-color: white;
  color: #bb8218;
  cursor: pointer;
  transition: border-color 0.25s;
  font-weight: bold;
}
#input::placeholder,
textarea::placeholder {
  color: #bb8218;
  font-size: 0.6em;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #bb8218;
    background-color: black;
  }
  a:hover {
    color:  #ff667a;
  }
  button {
    background-color: #646cff;
    color: #bb8218;
    
  }
}

