.eventos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.evento {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: whitesmoke;
  font-weight: bold;
  
}

.evento > img {
  width: 300px;
  height: 100px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  
}
.evento > h3 {
  font-size: 25px;
  margin-top: 30px;
}


.evento > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.evento > div:not(.lista-asistentes) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.evento > img:hover {
  transform: scale(1.05);
}

@media (max-width: 1030px) {
  .eventos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .evento {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: whitesmoke;
     margin-top: 100px;
     
}}