#crear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 80svh;
  
}

@media (max-width: 480px) {
  #crear input,
  #crear .button {
    font-size: 0.9rem;
  }
  
  #crear {
    padding: 10px;
  }
}




