header {
  width: 100%;
  position: sticky;
  height: 7svh;
  top:0;
  box-shadow: 0px 2px 0px -1px  /*#898989;*/ #bb8218
}
nav {
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  font-size : 25px
}