/*#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 80svh;
  
}
#login p {
  text-align: center;
  width: 100%;
}
#login > input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 200;
  margin-top: 1px;
  background-color: white;
  color: #bb8218;
  cursor: pointer;
  transition: border-color 0.25s;
  font-weight: bold;
}

.status-message {
  margin: 15px 0;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  max-width: 400px;
  font-size: 0.9em;
}

#login p:last-child {
  margin-top: 20px;
}

@media (max-width: 480px) {
  #login input,
  #login.button {
    font-size: 0.9rem;
  }
  
  #login{
    padding: 10px;
  }
  #login form {
    max-width: 100%;
  }
}*/

