#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 80svh;
  
}

@media (max-width: 480px) {
  #login input,
  #login.button {
    font-size: 0.9rem;
  }
  
  #login{
    padding: 10px;
  }
}

